:root {
  --primary-color: #2a6cea;
  --grey-color: #eceff2;
  --dark-grey-color: #5e646a;
  --text-light-color: #ffffff;
  --text-grey-color: #83898f;
  --text-dark-color: #191c1f;
  --primary-light-color: #ffffff;
  --light-grey-color: #f6f8fa;
}
